<!DOCTYPE html SYSTEM http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/layout">

<head>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="page-header">
  			<h1>タイムライン</h1>
  			<div align=right><a href="#"><span class="glyphicon glyphicon-plus"></span>投稿する</a></div>
		</div>
		<ul class="nav nav-pills">
  			<li role="presentation"><a href="#">嬉しい</a></li>
  			<li role="presentation"><a href="#">怒り</a></li>
  			<li role="presentation"><a href="#">悲しい</a></li>
  			<li role="presentation"><a href="#">楽しみ</a></li>
		</ul>
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">お名前：なみひら</h3>
    			<div align=right>2015/12/31　10:14</div>
  			</div>
  			<div class="panel-body">
    			鍵落とした(´・ω・`)
  			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">お名前：なみひら</h3>
    			<div align=right>2015/12/31　10:14</div>
  			</div>
  			<div class="panel-body">
    			お腹すいた(´・ω・`)
  			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">お名前：なみひら</h3>
    			<div align=right>2015/12/31　10:14</div>
  			</div>
  			<div class="panel-body">
    			眠い(´・ω・`)
  			</div>
		</div>
   	</th:block>
</body>
</html>