<!DOCTYPE html SYSTEM http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/layout">

<head>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="page-header">
  			<h1 th:text="#{app_01_0000}">タイムライン_</h1>
  			<div align=right><span class="glyphicon glyphicon-plus"></span><a th:href="@{/view/post}" th:text="#{app_01_0001}">投稿する_</a></div>
		</div>
		<ul class="nav nav-pills">
  			<li role="presentation"><a href="#" th:text="#{app_01_0002}">嬉しい_</a></li>
  			<li role="presentation"><a href="#" th:text="#{app_01_0003}">怒り_</a></li>
  			<li role="presentation"><a href="#" th:text="#{app_01_0004}">悲しい_</a></li>
  			<li role="presentation"><a href="#" th:text="#{app_01_0005}">楽しみ_</a></li>
		</ul>
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">お名前：なみひら</h3>
    			<div align=right>2015/12/31　10:14</div>
  			</div>
  			<div class="panel-body">
    			鍵落とした(´・ω・`)
  			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">お名前：なみひら</h3>
    			<div align=right>2015/12/31　10:14</div>
  			</div>
  			<div class="panel-body">
    			お腹すいた(´・ω・`)
  			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">お名前：なみひら</h3>
    			<div align=right>2015/12/31　10:14</div>
  			</div>
  			<div class="panel-body">
    			眠い(´・ω・`)
  			</div>
		</div>
   	</th:block>
</body>
</html>