<!DOCTYPE html SYSTEM http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/layout">

<head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js"></script>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="page-header">
  			<h1 th:text="#{app_01_0001}">投稿する_</h1>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading" th:text="#{app_01_0008}">内容を入力してください_</div>
    		<div class="panel-body">
    		    <div id="js-content-form">
			      <div class="form-group">
	    		    <label for="userId" class="col-sm-2 control-label" th:text="#{app_00_0005}">お名前_</label>
	    			<div class="col-sm-10">
		      		  <input type="text" class="form-control" id="userId" placeholder="ゲストさん" disabled />
				   	</div>
	  			  </div>
			      <div class="form-group">
	    		    <label for="content" class="col-sm-2 control-label" th:text="#{app_01_0006}">気持ち_</label>
	    		    <div class="col-sm-10">
		      		  <textarea class="form-control" id="content" rows="3" placeholder="お腹すいた" style="resize:none;" v-model="newContent.content"></textarea>
				    </div>
	  			  </div>
	  			  <div class="form-group">
	    		    <label class="col-sm-2 control-label" th:text="#{app_01_0007}" >感情_</label>
	    			<div class="col-sm-10">
	      			  <div class="radio">
	        		    <label><input type="radio" name="emotionTag" id="emotionTag" value="0" th:text="#{app_01_0002}" checked></label>
	      			  </div>
	      			  <div class="radio">
	        		    <label><input type="radio" name="emotionTag" id="emotionTag" value="1" th:text="#{app_01_0003}"></label>
	      			  </div>
	      			  <div class="radio">
	        		    <label><input type="radio" name="emotionTag" id="emotionTag" value="2" th:text="#{app_01_0004}"></label>
	      			  </div>
	      			  <div class="radio">
	        		    <label><input type="radio" name="emotionTag" id="emotionTag" value="3" th:text="#{app_01_0005}"></label>
	      			  </div>
	    		    </div>
	  		      </div>
  			      <button type="submit" class="btn btn-default" v-on:click="post" th:text="#{app_01_0001}">投稿する_</button>
	    		</div>
    		</div>
		</div>
   	</th:block>

    <th:block layout:fragment="javascript">
        <script th:src="@{/resources/js/post/script.js}"></script>
    </th:block>

</body>
</html>